
#macdiv{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

#mac{
  width: 300px;
  height: 300px;
  margin-bottom: 100px;
}

#mach1{
  font-size: 50px;
  font-weight: bold;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

#mach3{
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

#logo{
  width:60px;
}
.logo1{
  font-size: 35px;
  color: black;
  margin-left: 210px;
}

#card{
  border: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.card{
  float:left;
  border: 0px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

.burger{
  border: 0px;
  float:left;
}

.img {
  display: flex;
  margin: auto;
  width: 200px;
}

.img2 {
  display: flex;
  margin-left: 150px;
  margin-top: 50px;
}

.textbox {
  margin: 50px;
}

.textcolor {
  color: rgb(198, 198, 198);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}